.b-radius{
    border-radius: 0.8em;
}
.bg-gray{
    background-color:#F1F1F1;
}

.image-area{
    height: 327px;
}
.my-btn{
    padding: 0.5em 1em 0.5em 1em;
    background-color: rgb(11, 242, 11)
    border: 0;
    border-radius: 0.7em;
    margin-top: 5px;
}
.icon{
    width: 78px;
    height: 82px;
}
