*{
    margin: 0;
    padding: 0;
}

.text-color-1{
    color: #FABE4C;
}

.text-color-2{
    color: #363958;
}


.my-container{
   
    background: #FFFBF0;
}

.my-nav{
    top: 2em
}

.b-radius{
    border-radius: 0.8em;
}
.bg-gray{
    background-color:#F1F1F1;
}

.image-area{
    height: 327px;
}
.my-btn{
    padding: 0.8em 1em 0.5em 1em;
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);;
    border: 0;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    height: 50px;
    width: 150px;
    font-size: 14px;
    align-items: center;
}
.icon{
    width: 78px;
    height: 82px;
}

.customer-img{
    width: 203px;
    height: 282px;
    padding: 2em 2em 0em 2em;
}


.big-img{
    height: 354px;
    width: 599px;
}


.subscribe{
    background-color: #FEEAE9;
  }

  footer{
      text-align: center;
  }

  footer a{
      font-size: 25px;
  }

  @media (max-width:992px){
    .card-bottom{
        margin-bottom: 2em;
    }

    .customer-review{
        padding: 1.5em;
    }
    .center{
        text-align: center;
    }
    .side-img{
        width: 292px;
        height: 173px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }        

  }
 
@media (min-width:992px){
    .space{
        margin-left: 18em;    
    }
   
}